button {
    padding: 10px 20px;
        margin-right: 20px;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;

    // 배경 관련 클래스
    &.red {background: red;}
    &.green {background: green;}
    &.blue {background: blue;}

    // 글자크기 관련 클래스
    &.small {font-size: 16px;}
    &.medium {font-size: 20px;}
    &.large {font-size: 24px;}
}